<div class='nested-fields'>
  <%=f.input :full_name, label: 'Full _name', placeholder: 'Full Name' %>
  <%= f.input :age, label: 'Age', placeholder: 'Age' %>
  <%= f.input :care_by, as: :select, collection: Child::CARE_BY %>
  <%= link_to_remove_association "Remove child", f %>
</div>