<div class="modal fade" id="request_info_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal_diifrent_dialog">
    <div class="modal-content info_modal_content">
      <div class="inner_area">
        <button type="button" class="close position_top_corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="Modal-body " id = 'request_info_body'>
          <div class="Section">
            <div class="Section-heading">
              <div class="Grid Grid--alignItemsFlexEnd  Grid--justifyContentSpaceBetween   ">
                <div class="Grid-cell">Request a Tour</div>
              </div>
            </div>
            <div id = 'date_schedule'>
              <%= render 'schedule_date' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>