<div class="modal fade" id="request_info_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal_diifrent_dialog">
    <div class="modal-content info_modal_content">
      <div class="inner_area">
        <button type="button" class="close position_top_corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="Modal-body Modal-body--centerContent">
					  <div class="P">
					    <div class="H3">We'll be in touch!</div>
					  </div>
					  <div class="P"><span class="BoldText">Our program is coming soon!</span> We have your information on file, and we'll invite you to come visit as soon as we're ready.</div>
					  <div class="P"><button class="Button btn-lg" type="button">Got it</button></div>
					</div>
      </div>
    </div>
  </div>
</div>