<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello ,</h1>
    <p>
      <p>
        An Application has been submitted, You have make payment throgh below link
      </p>
      <p>
        <%=link_to "Payment", payment_parent_url(@parent, teacher_id: teacher_id) %>
      </p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>