<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>    
    <% if (@email.eql?('admin@dreamschool.com')) %>
    <%# if (email.eql?('admin@dreamschool.com') %>
      <h1>Hello Admin,</h1>
      <p>
        <p>
          You have a new application from a teacher, Please have a look at the information and take the action.
        </p>
        <p>
          <%=link_to "Teachers list", admin_teachers_url %>
        </p>
      </p> 
    <% elsif (@email.eql?('support@dreamschools.co')) %>
      <p>
        “Thank you for your interest in becoming a Dreamschool Partner! We will contact you shortly”. 
      </p>
    <% else %>
      <p>
        “Thank you for your interest in becoming a Dreamschool Partner! We will contact you shortly”. 
      </p>
    <% end %> 

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
