<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Admin,</h1>
    <p>
      <p>
        You have a new application from a teacher, Please have a look at the information and take the action.
      </p>
      <p>
        <%=link_to "Teachers list", admin_teachers_path %>
      </p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
