<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Admin,</h1>
    <p>
      <p>
        Use link below to approve teacher.
      </p>
      <p>
        <%#=link_to "http://localhost:3000/approve", "http://localhost:3000/teachers/#{@teacher.id}/approve" %>
        <%=link_to "http://localhost:3000/approve", "http://localhost:3000/admin/teachers" %>
      </p>

    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>