<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>
        <p>
          User Detail:<br>
          User Name: <%= @name %><br>
          Email : <%= @email%><br>
          Subject : <%= @subject%><br>
          Message : <%= @message%><br>
        </p>
        <p>
          A Dreamschool staff will reach out to you for next steps
        </p>
      </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>