<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Dreamschool, <%= @teacher.name %></h1>
    <p>Your application has been approved.</p>
    <p>
      To get started, click on the link below.
    </p>
    <p>
      <%= link_to set_password_teacher_url(@teacher), set_password_teacher_url(@teacher, token: @teacher.invitation_token) %>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
