<h1>Teachers applications</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Postal Code</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.postal_code %></td>
        <td><%= link_to 'Approve', approve_admin_teacher_path(teacher), method: :patch %>
      </tr>
    <% end %>
  </tbody>
</table>

