<div class="about-page">
  <h3>Our Mission</h3>
  <p>
    To provide high-quality early child care experience that is affordable and close to home 
  </p>

  <h3>What we do</h3>
  <p> 
      Dreamschool provides affordable, high-quality child care, while offering qualified early childhood educators with the support they need to provide child care in their homes
  </p>
  <p> 
    We can connect parents to early childhood educators for their children close to home, while we help these educators start and run their own child care centres through
  </p>
  <ul>
    <li>An online platform that connectsparents and qualified early childhood educators in local neighbourhoods</li>
    <li>
      Online management tools to support parents and early childhood educators with scheduling, paying bills, and getting real-time updates on daily activities
    </li>
    <li>
      Proven program design including curriculum and tools, and everything in between
    </li>
    <li>
      Hands-on support for early childhood educators with launching a business –from licensing and registration to marketing
    </li>
  </ul>
</div>  