<div class="wrap" role="document">
      <div class="content">
        <main class="main">
          
<section class="page-content editor-content no-carousel">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
         <div class="page-header">
        <p class="faq_heading_text">Frequently Asked Questions</p>
      </div>
<p><strong><a name="what"></a></strong></p>
<p><strong>1. What is Dreamschool?</strong><br>
Dreamschool is a network of quality, affordable in-home child care programs. We provide qualified child care providers with the support and tools they need to successfully start and run their own child care centres. At the same time, we connect parents with high-quality, affordable, reliable and convenient child care close to home.</p>

<p><strong>2. What is the Dreamschool model?</strong><br>
Dreamschool is designed with a child’s well-being in mind. We used the latest evidence in early childhood education and care and worked with experts in the field to design the Dreamschool model. To learn more, check out our <%=link_to 'About Us', about_path, class: 'faq_about_text'%> page. </p>

<p><strong>3. How can I sign up my child for Dreamschool?</strong><br> 
We are just months away from launching Dreamschool in your neighbourhood. To get on the waitlist, sign up <%= link_to 'here', new_user_registration_path, class: 'faq_sign_up_text' %>. We will be in touch very soon! </p>

<p><strong>4. What is the cost of enrolling my child in Dreamschool?</strong><br> Do you accept a subsidy?We are working to make sure that Dreamschool is the most affordable day care option for you. To get learn more, please reach out in our <%= link_to 'Contact Us', contact_path, class: 'faq_contact_text'%> page and we will be in touch shortly! </p>

<p><strong>5. Can the ratings of the provider be revealed before the visit?</strong><br>Unfortunately, the ratings cannot be provided until a visit to the provider occurs.</p>

<p><strong>6. How do you select your child care providers? What is the process?</strong><br>Your child’s well-being and safety is our #1 priority. This is why we have a thorough recruitment and vetting process to ensure that we answer all of your burning questions about your child’s day care provider.  Our process includes: </p>
<ul>
  <li>Police check </li>
  <li>First aid certification</li> 
  <li>Reference checks</li>  
  <li>Verification of educational and/or work experience</li> 
  <li>1:1 interview </li>
</ul>

<p>We also provide our care providers with training and 1:1 coaching support to set-up and maintain their daycare centre.</p> 
<p>Before your child is placed in a care provider’s home, we will share all the details and answer any questions you have.</p>
      </div>
    </div>
  </div>
</section>        </main><!-- /.main -->
      </div><!-- /.content -->
    </div>
