<div>
  <div class="ImageHero">
    <div class="ImageHero-image" style="background-image: url(&quot;https://www.wonderschool.com/images/partner/hero.jpg&quot;);"></div>
    <div class="ImageHero-content">
      <div class="ContentWidthConstraint">
        <div class="PartnerPage-hero">
          <div class="PartnerPage-heroMessaging">
            <h1 class="PartnerPage-heroMessagingHead">Dreaming about opening your own preschool or child care&nbsp;program?</h1>
            <h2 class="PartnerPage-heroMessagingSubhead">We want to hear all about&nbsp;it.</h2>
          </div>
          <div class="PartnerPage-heroCta">
            <div class="PartnerPage-heroCtaForm">
              <h3 class="PartnerPage-heroCtaHead">Schedule a free 15 minute chat with our team to discuss your vision!</h3>
              <div class="ProspectCaptureForm">
                <form novalidate="">
                  <div class="ProspectCaptureForm-formControl">
                    <div class="TextInput   "><input type="text" class="TextInput-control" placeholder="Name" value="" spellcheck="true"></div>
                  </div>
                  <div class="ProspectCaptureForm-formControl">
                    <div class="TextInput">
                      <input type="email" class="TextInput-control" placeholder="Email" value="" spellcheck="false">
                    </div>
                  </div>
                  <div class="ProspectCaptureForm-formControl">
                    <div class="TextInput">
                      <input type="text" class="TextInput-control" placeholder="Postal Code" value="" spellcheck="true">
                    </div>
                  </div>
                  <div class="ProspectCaptureForm-formControl">
                    <div class="P">
                      <button class="Button Button--full Button--large Button--arrow  " type="submit">Submit</button>
                    </div>
                    <div class="P">
                      <span class="ColoredText ColoredText--gray">
                        <span class="SmallText">By performing this action, you agree to our <a class="Link " target="_blank" href="/terms-of-use">Terms&nbsp;of&nbsp;Use</a> and <a class="Link " target="_blank" href="/privacy-policy">Privacy&nbsp;Policy</a>.
                        </span>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="PartnerPage-section PartnerPage-section--white">
    <div class="ContentWidthConstraint">
      <h3 class="PartnerPage-sectionHead">Why start your own program?</h3>
      <div class="PartnerPage-whyGrid">
        <div class="PartnerPage-whyGridCell">
          <div class="PartnerPage-whyGridImage">
            <img src="https://www.wonderschool.com/images/partner/apple.svg" role="presentation">
          </div>
          <div class="PartnerPage-whyGridContent">
            <div class="PartnerPage-sectionSubhead">You decide how you teach</div>
            You have freedom to choose your curriculum and teaching philosophy.
          </div>
        </div>
        <div class="PartnerPage-whyGridCell">
          <div class="PartnerPage-whyGridImage">
            <img src="https://www.wonderschool.com/images/partner/money.svg" role="presentation">
          </div>
          <div class="PartnerPage-whyGridContent">
            <div class="PartnerPage-sectionSubhead">Make more money</div>
            You can earn more money as a program founder and director.
          </div>
        </div>
        <div class="PartnerPage-whyGridCell">
          <div class="PartnerPage-whyGridImage">
            <img src="https://www.wonderschool.com/images/partner/clock.svg" role="presentation">
          </div>
          <div class="PartnerPage-whyGridContent">
            <div class="PartnerPage-sectionSubhead">Set your own schedule</div>
            You set your program hours, giving you more control over your time.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="PartnerPage-section">
    <div class="ContentWidthConstraint">
      <h3 class="PartnerPage-sectionHead">How Wonderschool empowers you</h3>
      <div class="PartnerPage-sectionNarrow">
        <div class="PartnerPage-howGrid">
          <div class="PartnerPage-howGridImage">
            <img src="https://www.wonderschool.com/images/partner/licensing.svg" role="presentation">
          </div>
          <div class="PartnerPage-howGridContent">
            <div class="PartnerPage-sectionSubhead">Step-by-step licensing and launch support</div>
            <ul class="PartnerPage-howGridList">
              <li>Clear guidance to get licensed efficiently</li>
              <li>Consultation with an expert mentor on how to set up your learning environment</li>
              <li>Expert pricing recommendations based on your area</li>
            </ul>
          </div>
        </div>
        <div class="PartnerPage-howGrid">
          <div class="PartnerPage-howGridImage">
            <img src="https://www.wonderschool.com/images/partner/fill-program.svg" role="presentation">
          </div>
          <div class="PartnerPage-howGridContent">
            <div class="PartnerPage-sectionSubhead">Proven strategies to fill your program</div>
            <ul class="PartnerPage-howGridList">
              <li>Access to our network of thousands of families</li>
              <li>A free, beautiful website optimized for parent discovery</li>
              <li>Tutorials on hosting effective open houses and tours</li>
              <li>Data-driven guidance to fill openings</li>
            </ul>
          </div>
        </div>
        <div class="PartnerPage-howGrid">
          <div class="PartnerPage-howGridImage">
            <img src="https://www.wonderschool.com/images/partner/online-billing.svg" role="presentation">
          </div>
          <div class="PartnerPage-howGridContent">
            <div class="PartnerPage-sectionSubhead">Online billing and management tools</div>
            <ul class="PartnerPage-howGridList">
              <li>Automatic monthly tuition billing</li>
              <li>Easy collection of drop-in and late fees</li>
              <li>Enrollment and paperwork management</li>
              <li>Support collecting past-due payments</li>
            </ul>
          </div>
        </div>
        <div class="PartnerPage-howGrid">
          <div class="PartnerPage-howGridImage">
            <img src="https://www.wonderschool.com/images/partner/connection.svg" role="presentation">
          </div>
          <div class="PartnerPage-howGridContent">
            <div class="PartnerPage-sectionSubhead">Connection to a strong network of allies</div>
            <ul class="PartnerPage-howGridList">
              <li>100+ providers across the country</li>
              <li>Free professional development courses</li>
              <li>Ongoing support from expert mentors to deal with challenging child behavior or parent communication</li>
              <li>Advice and guidance as your program evolves and grows</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="PartnerPage-section PartnerPage-section--white">
    <div class="ContentWidthConstraint">
      <h3 class="PartnerPage-sectionHead">What tools do we use?</h3>
      <div class="Grid Grid--wideGutters Grid--full">
        <div class="Grid-cell   ">
          <div class="PartnerPage-whatGridImage">
            <img src="https://www.wonderschool.com/images/partner/what-online-tools.jpg" width="100%" role="presentation">
          </div>
          <div class="PartnerPage-sectionSubhead">
            <div class="AlignedText AlignedText--center">Powerful online platform</div>
          </div>
          Our online platform guides you through licensing, marketing, tours, payments, daily operations, and everything in between. It allows you to manage your students, parents, and program from one dashboard.
        </div>
        <div class="Grid-cell   ">
          <div class="PartnerPage-whatGridImage">
            <img src="https://www.wonderschool.com/images/partner/what-1-on-1-support.jpg" width="100%" role="presentation">
          </div>
          <div class="PartnerPage-sectionSubhead">
            <div class="AlignedText AlignedText--center">1-on-1 support</div>
          </div>
          Our team of educators, mentors, and business coaches provide guidance and support along your journey in starting or operating your own program.
        </div>
      </div>
    </div>
  </div>
  <div class="PartnerPage-section">
    <div class="ContentWidthConstraint">
      <h3 id="PartnerPage-video" class="PartnerPage-sectionHead">Meet our partners</h3>
      <div class="PartnerPage-video">
        <iframe class="PartnerPage-videoIframe" src="https://www.youtube.com/embed/wCo6lmtXPTE" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <div class="Grid  Grid--wideGutters   Grid--full ">
        <div class="Grid-cell   ">
          <div class="P">
            <div class="Grid Grid--alignItemsCenter Grid--skinnyGutters    ">
              <div class="Grid-cell  Grid-cell--flexNone ">
                <img class="PartnerPage-videoHeadshot" src="https://www.wonderschool.com/images/partner/director-littlenest.jpg" role="presentation">
              </div>
              <div class="Grid-cell   ">
                <div class="H5 ">Theresa Marino</div>
                  <a class="Link " href="/littlenest">Little Nest Learning Space</a>
              </div>
            </div>
          </div>
          <div class="P">“Knowing that I can rely on Wonderschool’s technical and business expertise gives me the ease and freedom to focus on my students.”</div>
          <div class="P">
            <a href="#PartnerPage-video" class="PartnerPage-videoButton">View Video
              <div class="PartnerPage-videoButtonPlay"></div>
            </a>
          </div>
        </div>
        <div class="Grid-cell   ">
          <div class="P">
            <div class="Grid Grid--alignItemsCenter Grid--skinnyGutters    ">
              <div class="Grid-cell  Grid-cell--flexNone ">
                <img class="PartnerPage-videoHeadshot" src="https://www.wonderschool.com/images/partner/director-openminds.jpg" role="presentation">
              </div>
              <div class="Grid-cell   ">
                <div class="H5 ">Karen Hernandez</div>
                <a class="Link " href="/openminds">Open Minds Early School</a>
              </div>
            </div>
          </div>
          <div class="P">“Wonderschool provided guidance around marketing efforts, and most importantly gave us a platform to manage parents’ screening, tours, on-boarding and payments.”</div>
          <div class="P">
            <a href="#PartnerPage-video" class="PartnerPage-videoButton">View Video
              <div class="PartnerPage-videoButtonPlay"></div>
            </a>
          </div>
        </div>
        <div class="Grid-cell   ">
          <div class="P">
            <div class="Grid Grid--alignItemsCenter Grid--skinnyGutters    ">
              <div class="Grid-cell  Grid-cell--flexNone ">
                <img class="PartnerPage-videoHeadshot" src="https://www.wonderschool.com/images/partner/director-littleseedlings.jpg" role="presentation">
              </div>
              <div class="Grid-cell   ">
                <div class="H5 ">Sherie Cigar James</div>
                  <a class="Link " href="/littleseedlings">Little Seedlings Preschool</a>
              </div>
            </div>
          </div>
          <div class="P">“Wonderschool helped me turn my house into a school environment, set prices, and make my program marketable. They support me as I balance helping my community and running a business.”</div>
          <div class="P">
            <a href="#PartnerPage-video" class="PartnerPage-videoButton">
              View Video
              <div class="PartnerPage-videoButtonPlay"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="PartnerPage-section PartnerPage-section--blue">
    <div class="ContentWidthConstraint">
      <h3 class="PartnerPage-sectionHead">Get in touch to explore this possibility</h3>
      <div class="AlignedText AlignedText--center">
        <div class="PartnerPage-sectionNarrow">
          Can your dream become a reality? Let’s&nbsp;talk&nbsp;about&nbsp;it.<br>Schedule your free 15 minute consultation now. We’re excited to chat with you!
          <div class="PartnerPage-bottomCtaForm">
            <div class="ProspectCaptureForm">
              <form novalidate="">
                <div class="ProspectCaptureForm-formControl">
                  <div class="TextInput   TextInput--white">
                    <input type="text" class="TextInput-control" placeholder="Name" value="" spellcheck="true">
                  </div>
                </div>
                <div class="ProspectCaptureForm-formControl">
                  <div class="TextInput TextInput--white">
                    <input type="email" class="TextInput-control" placeholder="Email" value="" spellcheck="false">
                  </div>
                </div>
                <div class="ProspectCaptureForm-formControl">
                  <div class="TextInput TextInput--white">
                    <input type="text" class="TextInput-control" placeholder="Postal Code" value="" spellcheck="true">
                  </div>
                </div>
                <div class="ProspectCaptureForm-formControl">
                  <div class="P">
                    <button class="Button   Button--full  Button--large Button--arrow  Button--white" type="submit">Submit</button>
                  </div>
                  <div class="P">
                    <div class="TosAgree--light">
                      <span class="ColoredText ColoredText--white">
                        <span class="SmallText">By performing this action, you agree to our <a class="Link " target="_blank" href="/terms-of-use">
                          <span class="ColoredText ColoredText--white"><span class="UnderlinedText">Terms&nbsp;of&nbsp;Use</span></span></a> and <a class="Link " target="_blank" href="/privacy-policy"><span class="ColoredText ColoredText--white"><span class="UnderlinedText">Privacy&nbsp;Policy</span></span></a>.
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>