<div class="custom-search-section">
	<div class="row">
		<div class="col-md-8 custom-md">
			<div class="search_homepage_result">
	      <div class="custom_content_width_constraint">
	      	<% @teachers.each_with_index do |teacher, index|%>
	      		<%if index % 2 == 0 %>
		        	<div class="custom_grid Grid--full ">
		        		<div class="Grid-cell   ">
		              <div class="custom_callout_school">
		                <div class="custom_callout_school_aspect_ratio_image">
		                  <%=image_tag(teacher.teacher_profile.profile_image.url, class: 'custom_callout_school_aspect_ratio_image_img')%>
		                </div>
		                <div class="custom_callout_school_info">
		                  <h2 class="custom_callout_school_name"><%= teacher.teacher_profile.school_name%></h2>
		                  <ul class="custom_callout_school_attrs"></ul>
		                </div>
		              </div>
			          </div>
		        <% else %>
		          <div class="Grid-cell   ">
	              <div class="custom_callout_school">
	                <div class="custom_callout_school_aspect_ratio_image">
	                  <%=image_tag(teacher.teacher_profile.profile_image.url, class: 'custom_callout_school_aspect_ratio_image_img')%>
	                </div>
	                <div class="custom_callout_school_info">
	                  <h2 class="custom_callout_school_name"><%= teacher.teacher_profile.school_name%></h2>
	                  <ul class="custom_callout_school_attrs"></ul>
	                </div>
	              </div>
		          </div>
		        </div>
		        <% end %>
	        <% end %>
	      </div>
	    </div>
		</div>
		<div class="col-md-4 custom-md">
			<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3736489.7218514383!2d90.21589792292741!3d23.857125486636733!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1506502314230" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
