<div class="new-school-page-wrapper">
  <div class="new-image-hero">
    <div class="new-image-hero-image" style="background-image: url(&quot;https://www.wonderschool.com/images/school/school-profile-top.jpg&quot;);"></div>
    <div class="new-image-hero-content">
      <div class="new-hero-module-hero-3-uYE">
        <div class="new-hero-module-constraint-3CioB">
          <h1 class="new-Hero-module-title-2P-GS">Little Sunflower Learning Center</h1>
          <p class="new-hero-module-subtitle-3tmqs">A creative, fun and loving 'home away from home' for little ones</p>
          <p class="new-hero-module-subtitle-3tmqs">Coming Soon Summer 2018</p>
          <div class="new-hero-module_inquiry-button-2NVd5">
            <button class="button button__large" type="button">Request Info</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new-school-page-mobile-header">
    <div class="new-school-page-gallery-icon"></div>
    <div class="school-page-mobile-header-director">
      <div class="school-page-director">
        <div class="school-page-director-avatar" style="background-image: url(&quot;https://www.wonderschool.com/uploads/f0687a78-2c7b-4ef6-8177-c54da1f0635c.jpg&quot;);">
        </div>
        <h3 class="school-page-director-name">Kathleen Gallant</h3>
        <div class="school-page-director-title">School Director</div>
      </div>
    </div>
    <button class="button button_naked" type="button">
      <div class="new-school-page-bookmark-icon">
        <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
             <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
                <g fill-rule="nonzero" fill="none">
                   <path fill="#dedede" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
                   <path stroke="#dedede" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
                </g>
             </svg>
        </div>
      </div>
    </button>
  </div>
  <div class="custom_content_width_constraint">
    <div class="school-page-tabbar">
      <div class="Tabbar">
        <a class="Tabbar-link"><span class="Tabbar-link-text Tabbar-link-text-selected">About</span></a>
        <a class="Tabbar-link"><span class="Tabbar-link-text">Basics</span></a>
      </div>
    </div>
    <div class="school-page-container">
      <div class="school-page-rail school-page-hide-mobile">
        <div class="school-page-rail-director">
           <div class="school-page-director">
              <div class="school-page-director-avatar" style="background-image: url(&quot;https://www.wonderschool.com/uploads/f0687a78-2c7b-4ef6-8177-c54da1f0635c.jpg&quot;);"></div>
              <h3 class="school-page-director-name">Kathleen Gallant</h3>
              <div class="school-page-director-name-title">School Director</div>
           </div>
        </div>
        <div class="rail-section">
           <h5 class="rail-section-title">Amenities</h5>
           <ul class="school-page-list">
              <li class="school-page-list-item">
                 <img class="school-page-list-item-bullet" src="https://www.wonderschool.com/images/school/amenity-icons/ic-philosophy.svg" role="presentation">
                 <div class="school-page-list-item-value">A creative, fun and loving 'home away from home' for little ones.</div>
              </li>
              <li class="school-page-list-item">
                 <img class="school-page-list-item-bullet" src="https://www.wonderschool.com/images/school/amenity-icons/ic-ages.svg" role="presentation">
                 <div class="school-page-list-item-value">6 weeks to school age.</div>
              </li>
              <li class="school-page-list-item">
                 <img class="school-page-list-item-bullet" src="https://www.wonderschool.com/images/school/amenity-icons/ic-hours.svg" role="presentation">
                 <div class="school-page-list-item-value">7:00am to 6:00pm</div>
              </li>
              <li class="school-page-list-item">
                 <img class="school-page-list-item-bullet" src="https://www.wonderschool.com/images/school/amenity-icons/ic-mealsProvided.svg" role="presentation">
                 <div class="school-page-list-item-value">Yes, home made organic or all natural meals will be provided.</div>
              </li>
              <li class="school-page-list-item">
                 <img class="school-page-list-item-bullet" src="https://www.wonderschool.com/images/school/amenity-icons/ic-snacksProvided.svg" role="presentation">
                 <div class="school-page-list-item-value">Yes, home made organic or all natural snacks will be provided</div>
              </li>
           </ul>
        </div>
        <div class="rail-section">
           <h5 class="rail-section-title">Rhythm of the Day</h5>
           <table class="school-page-table">
              <tbody>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">7:00 to 8:30</td>
                    <td class="school-page-table-value">Arrival/Free Play</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">8:30 to 9:00</td>
                    <td class="school-page-table-value">Table Top Toys/Fine Motor Activities</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">9:00 to 9:30 </td>
                    <td class="school-page-table-value">Breakfast</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">9:30 to 10:00</td>
                    <td class="school-page-table-value">Circle Time</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">10:00 to 11:00</td>
                    <td class="school-page-table-value">Centers</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">11:00 to 12:00</td>
                    <td class="school-page-table-value">Gross Motor Activities/Outdoor Playtime</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">12:00 to 12:30 </td>
                    <td class="school-page-table-value">Lunch</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">12:30 to 2:30</td>
                    <td class="school-page-table-value">Nap/Rest Time</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">2:30 to 3:00</td>
                    <td class="school-page-table-value">Snack</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">3:00 to Close</td>
                    <td class="school-page-table-value">Free Play, Group Game Time, and Good Bye's!</td>
                 </tr>
              </tbody>
           </table>
           <div class="rail-section-synopsis">Each week will have a Thematic Unit for the children to learn about.  The units include: songs, finger-plays, sensory activities, arts and crafts, and dramatic play.  At times there will be cooking activities incorporated into the units along with  science and technology activities.   </div>
        </div>
        <div class="rail-section">
           <h5 class="rail-section-title">2018-2019 Calendar</h5>
           <table class="school-page-table">
              <tbody>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">September 3</td>
                    <td class="school-page-table-value">Labor Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">October 8</td>
                    <td class="school-page-table-value">Columbus Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">October 31</td>
                    <td class="school-page-table-value">LSLC Halloween Party (Time TBA)! Center Closing at 3:00</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">November 12</td>
                    <td class="school-page-table-value">Veteran's Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">November 21</td>
                    <td class="school-page-table-value">LSLC Thanksgiving Kids' Only Feast!</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">November 22-23</td>
                    <td class="school-page-table-value">Thanksgiving Break - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">December 24</td>
                    <td class="school-page-table-value">LSLC Holiday Party (Time TBA)! Center Closing at 3:00</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">December 25</td>
                    <td class="school-page-table-value">Christmas Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">December 31-January 1</td>
                    <td class="school-page-table-value">New Year's Eve &amp; Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">January 21</td>
                    <td class="school-page-table-value">MLK Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">February 14</td>
                    <td class="school-page-table-value">LSLC Valentine's Day Kids's Only Party!</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">February 18</td>
                    <td class="school-page-table-value">President's Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">March 15</td>
                    <td class="school-page-table-value">LSLC St. Patrick's Day Kids' Only Party!</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">April Break</td>
                    <td class="school-page-table-value">TBA</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">May 10</td>
                    <td class="school-page-table-value">Mother's Day Tea Party (Time TBA)!</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">May 27</td>
                    <td class="school-page-table-value">Memorial Day - CLOSED</td>
                 </tr>
                 <tr class="school-page-table-row school-page-table-row-left">
                    <td class="school-page-table-key">June 14</td>
                    <td class="school-page-table-value">Father's Day/End of the Year BBQ (Time TBA)!</td>
                 </tr>
              </tbody>
           </table>
           <div class="rail-section-synopsis">We hold ongoing  new enrollment as space allows.  Check back here for Opening Day!  Also check here for any schedule changes including updates to party times and for the Summer 2019 calendar.  </div>
        </div>
      </div>
         <div class="school-page-content">
            <div class="school-page-section">
               <h2 class="school-page-section-title">Philosophy</h2>
               <div>
                  <p>Little Sunflower believes in providing a safe, secure, fun and loving environment for both child and parent.  We believe children who feel safe, happy and loved will naturally learn better and become successful little learners.  We provide a "family like" learning environment and strive to teach the whole child through all of their senses.  Through our creative curriculum and hands-on learning approach we incorporate many activities, art/sensory, music/movement, literacy, science/technology, and cooking.  These activities will help your child grow socially, emotionally, physically and intellectually.  At Little Sunflower, all children are treated fairly and equally.  We believe in using positive reinforcement to increase desirable behaviors for example cleaning up toys, following directions and using manners.  </p>
                  <p>Little Sunflower has an open door policy,  please feel free to call or stop by to visit with your child!    We welcome  feedback from our parents and guardians because we want to help best meet you and your child's needs.</p>
               </div>
            </div>
            <div class="school-page-section">
               <h2 class="school-page-section-title">Admissions</h2>
               <div>
                  <p>Join the Little Sunflower Learning Center community in four easy steps:</p>
                  <h4 id="1-explore-our-website">1. Explore our website</h4>
                  <p>We’ve provided information about our philosophies and offerings to help you decide if our program may be right for your family.</p>
                  <h4 id="2-tour-our-school">2. Tour our school</h4>
                  <p>Come see what makes Little Sunflower Learning Center unique. Please schedule a tour by filling out the “Schedule Tour” form.</p>
                  <h4 id="3-submit-an-enrollment-application">3. Submit an Enrollment Application</h4>
                  <p>If you would like to enroll, please submit an application at www.wonderschool.com/littlesunflower/apply – Please note that we require tours for all prospective families. If you have not toured the school please schedule a tour when submitting your enrollment.</p>
                  <h4 id="4-enroll">4. Enroll</h4>
                  <p>After reviewing your application, we’ll send an enrollment invitation. Upon accepting your invitation, you’ll pay your deposit (usually equal to one month’s tuition), fill out enrollment documents and review our Parent Handbook.</p>
               </div>
            </div>
            <div class="school-page-section">
               <h2 class="school-page-section-title">About Our School</h2>
               <div>
                  <p>Little Sunflower Learning Center's learning environment is a unique blend of different, but effective teaching and parenting styles.  Throughout her career Miss Katie has utilized many teaching methodologies to help her children and her students learn.  At LSLC, we will be teaching the whole child through the use all of their senses using different Learning Centers.  We use a blend of Child Led Learning and Teacher Led Learning.  Discipline and respect are also taught throughout the day to help each child learn to self regulate and make good choices.    </p>
                  <p>Children will be exposed to many important activities to help facilitate their learning.  The Infant/Toddler room has many stimulating materials such as textile toys, musical toys, and an area to practice large gross motor activities which will help them learn to sit up, crawl, and walk.  In our main play area the children will have opportunities to build with mega blocks, play dress up, create amazing artwork while socializing with their peers and our staff.  Our daily schedule includes a fun, interactive, singing Circle Time that will be tailored to fit the needs of the children's learning goals.  Our outdoor play area is a great area for the children to explore nature!  The children can have fun digging and dumping in our sandbox. They will be planting many vegetables and flowers in the garden area.  Our equipment includes slides, swings, tires to climb over and into, and fun wagon rides!  Weather permitting we will have our lunches and snacks outside, too!   </p>
                  <p>At Little Sunflower Learning Center we hope to prepare the children for the outside world by giving them a fun and safe learning environment.  We have you covered from infancy to school age!Children will love to learn if you give them the right environment and support.  Check out LSLC and see if it's the right place for your child and your family!</p>
                  <p>&#8203;</p>
               </div>
            </div>
            <div class="school-page-section">
               <h2 class="school-page-section-title">Our Teachers</h2>
               <div>
                  <p>THE BASICS!</p>
                  <p>Hi and welcome to Little Sunflower Learning Center! My name is Kathleen Gallant, but please call me Katie!  I am a happily remarried mother of 2.    Our children are Abby, age 12 and JJ, age 22 months.   My husband, Jim, and I love spending time with our kids, going for rides out east, checking out attractions like local Farmer’s Markets and cooking. </p>
                  <p>MY CHILDHOOD:</p>
                  <p>I grew up in Coram and attended a mixture of public schools and private schools.  I have 3 older brothers who all still live on the islandwith their families.  We always had a lot of animals; cats, dogs, birds, snakes, you name it chances are we had it!  I participated in dance at a few schools, my favorite being Amy Tyler’s School of Dance where Abby now attends.</p>
                  <p>MY EDUCATION &amp; CAREER</p>
                  <p>After graduating Newfield HS in 1998, I went on to SUNY Cobleskill for my associate's in Early Childhood  Education, received my bachelor’s in Elementary Education from St. Joseph’s College and then my Master’s in Special Education at CW POST/LIU.  I have worked with all ages and abilities.  I started out in daycare while still in high school then went to work with adults with special needs. The bulk of my experience has been in Early Intervention working with children that have special needs such as Autism, Speech Delays, etc ages birth through 3 years of age.  I also worked in various districts and Eastern Suffolk BOCES as a Substitute and an Assistant.  My favorite age groups to work with are infant, toddlers and preschoolers.   </p>
                  <p>&#8203;</p>
                  <p>&#8203;</p>
                  <p>&#8203;</p>
               </div>
            </div>
         </div>
         <div class="school-page-rail">
            <div class="school-page-save-and-compare">
               <button class="button button_naked" type="button">
                  <div class="new-school-page-bookmark-icon">
                     <div class="SVGResponsive SVGResponsive--layoutWidthConstrained" style="padding-bottom: 82.7586%;">
                        <svg class="SVGResponsive-svg" viewBox="0 0 29 24" aria-labelledby=" " xmlns="http://www.w3.org/2000/svg">
                           <g fill-rule="nonzero" fill="none">
                              <path fill="#dedede" fill-rule="evenodd" d="M14.12 4.441c-.036.038-.072.038-.109 0l-2.22-2.315C10.481.759 8.734 0 6.915 0a6.69 6.69 0 0 0-4.877 2.126A7.344 7.344 0 0 0 0 7.212c0 1.936.728 3.758 2.038 5.086L11.9 22.585a3.074 3.074 0 0 0 2.22.95c.838 0 1.602-.343 2.22-.95l9.863-10.287a7.344 7.344 0 0 0 2.038-5.086c0-1.936-.728-3.758-2.038-5.086-2.766-2.81-7.17-2.81-9.863 0L14.12 4.44z"></path>
                              <path stroke="#dedede" stroke-width="2" d="M14.842 5.133a1.064 1.064 0 0 1-1.553 0l-2.22-2.315C9.947 1.648 8.461 1 6.915 1A5.698 5.698 0 0 0 2.76 2.818 6.344 6.344 0 0 0 1 7.212c0 1.678.628 3.246 1.76 4.394l9.862 10.287c.394.41.934.641 1.498.641.555 0 1.073-.224 1.499-.64l9.862-10.288a6.344 6.344 0 0 0 1.76-4.394c0-1.678-.628-3.246-1.75-4.385-2.373-2.41-6.128-2.41-8.429-.01l-2.22 2.316z"></path>
                           </g>
                        </svg>
                     </div>
                  </div>
               </button>
               <div class="school-page-save-and-compare-text">Save and Compare</div>
            </div>
            <div class="rail-section mobile-hidden">
               <h5 class="rail-section-title">Location</h5>
               <ul class="school-page-list">
                  <li class="school-page-list-item">
                     <img class="school-page-list-item-bullet" src="https://www.wonderschool.com/images/school/location-icons/ic-address.svg" role="presentation">
                     <div class="school-page-list-item-value">125 Terryville Road Apt 9E, Port Jefferson, NY 11776</div>
                  </li>
                  <li class="school-page-list-item">
                     <img class="school-page-list-item-bullet" src="https://www.wonderschool.com/images/school/location-icons/ic-phone.svg" role="presentation">
                     <div class="school-page-list-item-value">
                        <div class="h6"><button class="button button--link" type="button">See Phone Number</button></div>
                     </div>
                  </li>
                  <li class="school-page-list-item">
                     <img class="school-page-list-item-bullet" src="https://www.wonderschool.com/images/school/location-icons/ic-email.svg" role="presentation">
                     <div class="school-page-list-item-value">
                        <div class="h6"><button class="button button--link" type="button">See Email</button></div>
                     </div>
                  </li>
               </ul>
               <div class="school-page-rail-Map">
                  <div class="map-embed" style="position: relative; overflow: hidden;">
                     <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                        <div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
                           <div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;">
                              <div style="z-index: 1; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                                 <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                       <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                          <div style="width: 256px; height: 256px; position: absolute; left: -19px; top: -101px;"></div>
                                          <div style="width: 256px; height: 256px; position: absolute; left: 237px; top: -101px;"></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
                                 <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
                                 <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                                    <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                                       <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -19px; top: -101px;"></div>
                                          <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 237px; top: -101px;"></div>
                                       </div>
                                    </div>
                                    <div style="width: 22px; height: 40px; overflow: hidden; position: absolute; left: 132px; top: 20px; z-index: 60;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 22px; height: 40px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                 </div>
                                 <div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
                                    <div style="overflow: hidden; width: 286px; height: 120px;"><img src="https://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i2491923&amp;2i3147365&amp;2e1&amp;3u15&amp;4m2&amp;1u286&amp;2u120&amp;5m5&amp;1e0&amp;5sen-GB&amp;6sus&amp;10b1&amp;12b1&amp;token=95922" style="width: 286px; height: 120px;"></div>
                                 </div>
                                 <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                    <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
                                       <div style="position: absolute; left: -19px; top: -101px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9734!3i12294!4i256!2m3!1e0!2sm!3i412112695!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=114164" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                       <div style="position: absolute; left: 237px; top: -101px; transition: opacity 200ms ease-out;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i15!2i9735!3i12294!4i256!2m3!1e0!2sm!3i412112718!3m9!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=125286" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    </div>
                                 </div>
                              </div>
                              <div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;">
                                 <p class="gm-style-pbt"></p>
                              </div>
                              <div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;">
                                 <div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div>
                              </div>
                              <div style="z-index: 4; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                                 <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
                                 <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
                                 <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;">
                                    <div class="gmnoprint" style="width: 22px; height: 40px; overflow: hidden; position: absolute; opacity: 0.01; left: 132px; top: 20px; z-index: 60;">
                                       <img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi.png" draggable="false" usemap="#gmimap1" style="position: absolute; left: 0px; top: 0px; width: 22px; height: 40px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                       <map name="gmimap1" id="gmimap1">
                                          <area href="javascript:void(0)" log="miw" coords="8,0,5,1,4,2,3,3,2,4,2,5,1,6,1,7,0,8,0,14,1,15,1,16,2,17,2,18,3,19,3,20,4,21,5,22,5,23,6,24,7,25,7,27,8,28,8,29,9,30,9,33,10,34,10,40,11,40,11,34,12,33,12,30,13,29,13,28,14,27,14,25,15,24,16,23,16,22,17,21,18,20,18,19,19,18,19,17,20,16,20,15,21,14,21,8,20,7,20,6,19,5,19,4,18,3,17,2,16,1,14,1,13,0,8,0" shape="poly" title="" style="cursor: pointer;">
                                       </map>
                                    </div>
                                 </div>
                                 <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div>
                              </div>
                           </div>
                           <div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
                              <a target="_blank" href="https://maps.google.com/maps?ll=40.924909,-73.05213&amp;z=15&amp;t=m&amp;hl=en-GB&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;">
                                 <div style="width: 66px; height: 26px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div>
                              </a>
                           </div>
                           <div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 232px; height: 78px; position: absolute; left: 5px; top: 5px;">
                              <div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div>
                              <div style="font-size: 13px;">Map data ©2018 Google</div>
                              <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                           </div>
                           <div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 73px; bottom: 0px; width: 123px;">
                              <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;">
                                 <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                    <div style="width: 1px;"></div>
                                    <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                                 </div>
                                 <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2018 Google</span></div>
                              </div>
                           </div>
                           <div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
                              <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2018 Google</div>
                           </div>
                           <div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;">
                              <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                 <div style="width: 1px;"></div>
                                 <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                              </div>
                              <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-GB_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div>
                           </div>
                           <button draggable="false" title="Toggle fullscreen view" aria-label="Toggle fullscreen view" type="button" style="background: none; border: 0px; margin: 10px 14px; padding: 0px; position: absolute; cursor: pointer; user-select: none; width: 25px; height: 25px; overflow: hidden; display: none; top: 0px; right: 0px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></button>
                           <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;">
                              <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                 <div style="width: 1px;"></div>
                                 <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
                              </div>
                              <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@40.9249085,-73.0521303,15z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div>
                           </div>
                           <div class="gmnoprint gm-bundled-control" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; user-select: none; position: absolute; top: 0px; right: 28px;">
                              <div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 0px;">
                                 <div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;">
                                    <button draggable="false" title="Zoom in" aria-label="Zoom in" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;">
                                       <div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div>
                                    </button>
                                    <div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div>
                                    <button draggable="false" title="Zoom out" aria-label="Zoom out" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;">
                                       <div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div>
                                    </button>
                                 </div>
                              </div>
                              <div class="gm-svpc" controlwidth="28" controlheight="28" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; position: absolute; left: 0px; top: 65px;">
                                 <div style="position: absolute; left: 1px; top: 1px;"></div>
                                 <div style="position: absolute; left: 1px; top: 1px;">
                                    <div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div aria-label="Pegman is on top of the Map" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                    <div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                 </div>
                              </div>
                           </div>
                           <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="0" controlheight="0" style="margin: 10px; user-select: none; position: absolute; display: none; bottom: 14px; right: 0px;">
                              <div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;">
                                 <div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; display: none;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                                 <div class="gm-tilt" style="width: 0px; height: 0px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; top: 0px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div>
                              </div>
                           </div>
                           <div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; display: none; left: 0px; top: 0px;">
                              <div class="gm-style-mtc" style="float: left; position: relative;">
                                 <div role="button" tabindex="0" title="Show street map" aria-label="Show street map" aria-pressed="true" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 22px; font-weight: 500;">Map</div>
                                 <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; left: 0px; top: 29px; text-align: left; display: none;">
                                    <div draggable="false" title="Show street map with terrain" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;">
                                       <span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;">
                                          <div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img alt="" src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div>
                                       </span>
                                       <label style="vertical-align: middle; cursor: pointer;">Terrain</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="gm-style-mtc" style="float: left; position: relative;">
                                 <div role="button" tabindex="0" title="Show satellite imagery" aria-label="Show satellite imagery" aria-pressed="false" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 41px; border-left: 0px;">Satellite</div>
                                 <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; right: 0px; top: 29px; text-align: left; display: none;">
                                    <div draggable="false" title="Show imagery with street names" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;">
                                       <span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;">
                                          <div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img alt="" src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div>
                                       </span>
                                       <label style="vertical-align: middle; cursor: pointer;">Labels</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="school-page-sticky">
               <div class="rail-section">
                  <h5 class="rail-section-title">Related Schools</h5>
                  <div class="P">We’re still expanding into this area. Want to be the first to know about great Wonderschools in this area?</div>
                  <div class="P">
                     <div class="h6"><button class="button button--link" type="button">Notify Me</button></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>