<div class="section_page_content">
  <div class="custom_content_width_constraint">
    <h3>Terms of Use</h3>
    <p>Last updated: March 3, 2018</p>
    <p>These Terms of Use set out the terms and conditions under which individuals may use the website or mobile application and access the services offered by Dreamschool Inc.("Dreamschool"). These Terms of Use comprise a legal agreement between Dreamschool and you, the person accessing and using the website or mobile application ("You" or "User"). Dreamschool owns, operates and maintains the Dreamschool.com website at Dreamschool.com, and the Dreamschool mobile application ("App"), Website and App collectively referred to as the Platform". By downloading, accessing and/or using the Platform, you are deemed to have read Terms of Use and you agree to be bound by the Terms of Use which shall govern your access and use of the Platform and all applicable laws and regulations</p>

    <h6>IF YOU DO NOT AGREE TO ALL OF THE TERMS OF USE SET OUT BELOW, YOU MAY NOT ACCESS OR USE THE WEBSITE OR APP, SHOULD NOT CLICK TO ACCEPT THESE TERMS AND SHOULD NOT PROCEED ANY FURTHER.</h6>

    <h5>1. Description of Services</h5>
    <p>Dreamschool offers a range of services to match individuals and families with early childhood educators and support with establishing and managing child care centres (collectively referred to as ("Services"). Dreamschool's Services on Dreamschool.com allows individuals and/or entities providing care services ("Service Providers") to post information profiles on the Website to facilitate matching with those Users who are seeking services ("Service Seekers").</p>

    <p>Dreamschool's Services facilitate the matching of Service Seekers and Service Providers by providing search functions to allow Service Seekers to find the appropriate Service Provider based on their preferences and needs. Dreamschool's Service also involves providing a platform to facilitate the initial and ongoing communication between Service Seekers and Service Providers ("Messaging Platform"). Through the Messaging Platform, Users can engage with one another without disclosure of their e-mail or phone number. Dreamschool reserves the right to re-post a User's Service advertisement on external third-party websites for the purposes of ensuring exposure of the User's request and/or provision of Services. Any such re-posting on an external third-party websites will not include Personal Information (as defined below) of the Users.</p>

    <p>Dreamschool is not a party to the relationship between the Service Seeker and Service Provider. Dreamschool shall not, in any way, be liable to a Service Seeker or Service Provider or any other third party, arising, either directly or indirectly from such employment or independent contractor agreement between the parties</p>

    <p>Dreamschool does not verify, review, evaluate, interview, screen or perform any background checks on any of its Users or the content posted by the User on the Platform. You assume all risks associated with dealing with other persons whom you come in contact with through the Services of Dreamschool's Platform </p>

    <h5>2. Application Use</h5>
    <p>Dreamschool grants you the right to use the App for your personal use.</p>

    <p>You must comply with all applicable laws and third party terms of agreement when using the App (e.g. your wireless data service agreement). Your use of the App is at your own discretion and risk, and you are solely responsible for any damages to your hardware device(s) or loss of data that results from the download or use of the App.
    </p>

    <p>You acknowledge and agree that the App may not contain the same functionality available on the Website. We cannot guarantee the continuous, uninterrupted or error-free operation of the App or that the App will perform at a certain speed, as this depends on a number of factors beyond our control. You agree that downloading, accessing and use of the App is made available to you on an "as is" and "as available" basis for use at your sole risk.</p>

    <h5>3. Eligibility Criteria</h5>
    <p>To be eligible to use the Services offered by Dreamschool, you represent and warrant as follows:</p>

    <p>that you are eighteen (18) years of age or older on the date of creation of your User Account;</p>

    <p>if you are registering as Service Provider, that you are legally permitted to work in the jurisdiction where you are seeking employment; and</p>

    <p>neither you nor any member of your household may have ever been the subject of a complaint, restraining order or any other legal action or criminal offence involving violence, abuse, neglect, fraud, or any other offence that involves endangering the safety of others, and that you are not registered or currently required to register as a sex offender with any government agency in any jurisdiction.</p>

    <h5>4. User Accounts and Passwords</h5>
    <p>To access and use certain features of the Website, you will need to create a profile through the Website ("User Account"). As part of the process to create, register and maintain your User Account you must provide Dreamschool with certain current, complete, and accurate registration information, including your name, e-mail address, age, address, postal code/ZIP code, and phone number, and other data or information that has been requested by Dreamschool during the client account registration or renewal process ("Registration Data"). If you are enrolling in Dreamschool's Payroll Services, additional information, including your bank account number and Social Insurance Number will be collected. The specific terms applicable to the Payroll Services are provided below in section 12 of these Terms of Use.</p>


    <p>In these Terms of Use, "Personal Information" means any information about an identifiable individual, such as your name, e-mail address, mailing addresses, gender, date of birth, any data about you that you elect to provide electronically through the Platform and any other information that identifies who you are. Registration Data and Personal Information will be used by  Dreamschool solely in accordance with these Terms of Use and Company's Privacy
    Policy (the "Privacy Policy"). In addition, if you are accessing Dreamschool's Services through the App, you may be asked permission to access to your location through your mobile device. Access to and use of your location information is consistent with the terms of our Privacy
    Policy.</p>

    <p>You agree that you will:</p>
    <p>maintain and update such Registration Data as necessary in order to keep such information current, complete, and accurate;</p>
    <p>maintain the confidentiality of any passwords or other account identifiers which you choose or that are assigned to you as a result of any registration or account creation with the Platform; and</p>
    <p>be responsible for all activities that occur under such password or account.</p>
    <p>Further, you agree to immediately notify Dreamschool of any unauthorized use of your password or account in the event that the confidentiality of your password or your account is compromised.</p>
    <p>Failure to comply with this paragraph may result in immediate termination of your account.</p>

    <h5>5. User Account Fees, Term and Renewal</h5>
    <p>Dreamschool charges a fee of for its Services. The first fee payment is made when a User signs up for Dreamschool’s Services. User agrees that the fee shall be automatically renewed based on the term chosen by the User (e.g., monthly, quarterly, annually), unless the Services are thereby terminated by either Party.</p>
    <p>You agree that any fees associated with the use of Dreamschool's Services are considered final payments and are non-refundable.</p>

    <h5>6. Personal Information</h5>
    <p>You agree that your use of the Website and the Services is subject to the terms of our Privacy Policy, which is hereby incorporated by reference into, and forms an integral part of, the Terms of Use or by using the Platform, you expressly consent to the collection, storage, use and disclosure of your information, including your Personal Information, according to the Privacy Policy.</p>
    <p>You represent and warrant to Dreamschool that you are at least 18 years of age or have the permission of a parent or legal guardian (if between the ages of 13 – 18), and that you have the full, unrestricted right and authority and have been fully authorized to provide to Dreamschool any and all Registration Data (including any Personal Information) for the purposes of these Terms of Use and that Dreamschool is authorized and permitted to use such data as and to the extent provided in these Terms of Use and the Privacy Policy.</p>

    <h5>7. Content and Use of Services</h5>
    <p>As a Service Seeker, Service Provider or any other User of the Services, you agree that the content of information and materials posted on the Website or App by You is accurate, current and complete. In addition, you represent and warrant as follows:</p>
    <p>You will use the Services provided by Dreamschool solely for yourself and are responsible for all activity and use of your account and may not assign or transfer your account to any other person.</p>
    <p>You have the right and authority to post all information you post about yourself or others.</p>
    <p>You will not provide inaccurate, misleading, defamatory or false information to Dreamschool or to any other User of the Website or App.</p>

    <p>You will not post any content (including, but not limited to, written material, text, photos, or graphical content) on the Website, or transmit to other users, that is defamatory, inaccurate, inappropriate, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, defamatory, racially offensive, or illegal material, or any material that infringes or violates another party's rights (including, but not limited to, intellectual property rights, and rights of privacy and publicity), or advocate, promote or assist any unlawful act.</p>
    <p>Your use of the Website, App and Services provided by Dreamschool are in accordance with any and all applicable laws and regulations.</p>


    <h5>8. Use License</h5>
    <p>Dreamschool hereby grants you a limited, non-exclusive, personal, non-transferable, non-sublicensable and revocable right and license to</p>
    <p>access the Platform for the purpose of receiving the Services in accordance with these Terms of Use and</p>
    <p>access, view and print any information and documentation made available on the Website or App, for your personal, non-commercial and informational use only to assist you in the access and use of the Website or App and the Services.</p>
    <p>These Terms of Use do not grant you any other right or license, whether express or implied, by estoppel, or otherwise in or under any patent, trademark, copyright, or other intellectual property or proprietary right of Dreamschool or any third party.</p>

    <p>Dreamschool may terminate this license at any time for any reason whatsoever.</p>

    <h5>9. Intellectual Property</h5>
    <p>The Platform and all intellectual property rights in the Platform are owned by Dreamschool.</p>
    <p>Dreamschool reserves all intellectual property rights, including but not limited to, copyright, trade-marks, domain names, design rights, brand elements, database rights, patents, and all other intellectual property rights of any kind, whether registered or unregistered..</p>

    <h5>10. Trade-marks</h5>

    <p>All brand elements, company name, website names, logos, registered and unregistered trademarks displayed on the Platform or used in connection with the Services are the trade-marks of Dreamschool (or its suppliers, partner businesses or third party licensors).</p>

    <p>Any use or misuse of any trade-marks or brand elements of Dreamschool or any other content appearing on the Platform or in connection with the Services except as provided in these Terms of Use or with the express written consent of Dreamschool is strictly prohibited.</p>

    <p>Nothing contained on the Platform shall be construed as an express or implied grant of any license or right to use any trade-mark or brand element without prior written consent of Dreamschool.</p>

    <h5>11. Use Restrictions</h5>
    <p>In addition to complying with these Terms of Use, you agree to use the Platform and Services for lawful purposes only and in a manner consistent with all applicable local, national or international laws and regulations, including all privacy and personal information laws.</p>
    <p>The Website and any Services shall not be used where, and to any extent, such use is prohibited by law.</p>
    <p>Dreamschool encourages all Users to report any misconduct, misuse or unlawful activities of other Users, including, but not limited to activities on the Platform and in connection with the Services provided.</p>
    <p>Please contact Dreamschool at <a href="#">support@wedreamschools.com.</a></p>

    <h5>12. Termination of Registration</h5>
    <p>Dreamschool reserves the right, in its sole discretion, to terminate your account or access to part or all of Dreamschool’s Website, App and/or Services in the event that Dreamschool determines you are not eligible to use the Services or have violated any of the provisions of theTerms of Use, or have misused the Website, App or Services in any way.</p>

    <h5>13. Limitation of Liability</h5>
    <p>YOU ACKNOWLEDGE THAT ANY USE OF OR RELIANCE ON THIS WEBSITE OR THE SERVICES IS COMPLETELY AT YOUR OWN RISK.</h5>
    <p>UNDER NO CIRCUMSTANCES SHALL DREAMSCHOOL BE LIABLE TO YOU OR TO ANY OTHER PARTY, FOR ANY LOSSES, COSTS OR DAMAGES OF ANY KIND OR NATURE WHATSOEVER THAT ARE SUFFERED OR INCURRED IN ANY CONNECTION WITH THE USE OF (OR THE INABILITY TO USE) THE PLATFORM, SERVICES, OR ANY DREAMSCHOOL CONTENT OR THIRD PARTY CONTENT ( EGARDLESS OF THE FORM OF ACTION OR THEORY OF LIABILITY, INCLUDING FOR BREACH OF CONTRACT, TORT, NEGLIGENCE, EQUITY, STRICT LIABILITY, BY STATUTE OR OTHERWISE AND REGARDLESS OF THE OCCURRENCE OF A FUNDAMENTAL BREACH OR FAILURE OF ESSENTIAL PURPOSE).</p>

    <p>Dreamschool's Services facilitate the matching of Service Seekers and Service Providers by providing search functions to allow Service Seekers to find the appropriate Service Provider based on their preferences, needs, and location.</p>

    <p>Dreamschool is not a party to THE RELATIONSHIP BETWEEN SERVICE SEEKER AND SERVICE PROVIDER, and shall not, in any way, be liable to a Service Seeker or Service Provider or any other third party, arising, either directly or indirectly from such employment or independent contractor agreement between the parties.</p>

    <p>IN NO EVENT WHATSOEVER SHALL ANY OF DREAMSCHOOL, ITS DIRECTORS, OFFICERS, EMPLOYEES, SHAREHOLDERS, AFFILIATES, AGENTS AND THIRD-PARTY CONTRACTORS, SUPPLIERS AND LICENSORS (COLLECTIVELY THE "COMPANY PARTIES") BE LIABLE FOR ANY SPECIAL, EXEMPLARY, PUNITIVE, CONSEQUENTIAL, INCIDENTAL OR INDIRECT DAMAGES OF ANY KIND OR NATURE WHATSOEVER THAT ARE SUFFERED OR INCURRED IN ANY CONNECTION WITH THE USE OF PLATFORM OR THE PROVISION OF THE SERVICES (INCLUDING IN ANY CONNECTION WITH THE TRANSMISSION OR DOWNLOADING OR STORAGE OF ANY DATA OR SUBMISSIONS TO OR FROM THE PLATFORM OR THE USE OF, OR RELIANCE ON, ANY DREAMSCHOOL CONTENT OR OTHER INFORMATION OR DATA CONTAINED ON OR PROVIDED THROUGH THE PLATFORM, OR SERVICES, OR LOSS OF OR DAMAGE TO FILES OR DATA OR ANY COSTS OF RECOVERING OR REPRODUCING ANY FILES OR DATA OR LOSS OF USE OR LACK OF AVAILABILITY OF SERVICES OR ANY BUSINESS INTERRUPTION OR LOSS OF REVENUE OR PROFIT OR ANY OTHER ECONOMIC LOSS WHATSOEVER) HOWEVER CAUSED AND REGARDLESS OF THE FORM OR CAUSE OF ACTION AND WHETHER OR NOT FORESEEABLE, EVEN IF THE DREAMSCHOOL PARTIES OR ANY OF THEM HAS BEEN INFORMED IN ADVANCE OR OUGHT REASONABLY TO HAVE KNOWN OF THE POTENTIAL FOR SUCH DAMAGES.</p>

    <h5>14. Indemnification</h5>
    <p>You agree to indemnify and hold Dreamschool, its parents, subsidiaries, affiliates, officers and employees, harmless from any claim, demand, or damage, including reasonable legal fees, asserted by any third party due to or arising out of the Users use of or conduct respecting the Services, and Platform.</p>
    <h5>15. Miscellaneous</h5>
    <p><strong>a. Governing Law</strong></p>
    <p>The Platform is administered by Dreamschool from a site that is located in Ontario, Canada. You acknowledge and agree that your use of the Platform and all of the communications, transmissions and transactions associated with the Website and/or App and the provision of the Services shall be deemed to have occurred in the Province of Ontario, Canada. You agree that these Terms of Use shall be exclusively governed by, construed and interpreted in accordance with the laws of the Province of Ontario, Canada and the federal laws of Canada applicable therein. In the event of a dispute under these Terms of Use, such dispute shall be resolved in the Courts of the Province of Ontario.</p>
     <p><strong>b. Language</strong></p>
     <p>It is the express will of Dreamschool that these Terms of Use and all related documents on the Platform are in English.</p>
     <p><strong>c. Non-assignment</strong></p>
     <p>These Terms of Use are not assignable, transferable, or to be sub-licensed by you except with Dreamschool's prior written consent. Dreamschool may assign, transfer, or delegate any of its rights and obligations hereunder without your consent.</p>
     <p><strong>d. Modifications of Terms of Use</strong></p>
     <p>Dreamschool may revise these Terms of Use at any time without notice. By using the Platform, you are agreeing to be bound by the current version of the Terms of Use and Privacy Policy (last updated date listed at the top of the Terms of Use)..</p>
     <p>The content and material appearing on the Platform could include technical, typographical or photographic errors. Dreamschool does not warrant that any of the materials provided are accurate or current.</p>
     <p><strong>e. Links to External Websites</strong></p>
     <p>The links on the Platform to other websites or resources, including those operated by parties other than Dreamschool are provided for your convenience. Dreamschool is not responsible for the availability of such websites or resources and does not endorse or accept responsibility for the content of such external websites or resources and has no responsibility for or control over the terms of service or privacy policy (if any) of the operators of the external websites or resources.</p>
     <p>Your access and viewing of any third party websites or resources is conducted at your own risk.</p>
     <p><strong>f. Website, App and Services Provided "As Is"</strong></p>
     <p>YOU UNDERSTAND AND AGREE THAT THE PLATFORM, THE SERVICES, ANY CONTENT AND OTHER INFORMATION, DATA AND MATERIALS AVAILABLE ON THE WEBSITE, APP OR PROVIDED AS PART OF THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.</p>

    <h5>16. Contact Us</h5>
    <p>If you have any questions about the Terms of Use, or need to provide notice to, or communicate with, Dreamschool under the Term of Use, please contact Dreamschool by clicking Contact Us, or by delivery in person, by courier or by the mail, to Company at:</p>
    <p>Centre for Social Innovation<br>
    585 Dundas St E, YEP<br>
    Toronto, ON<br>
    M5A 2B7</p>


