<div id="apply_enroll_modal" class="modal fade" role="dialog">
  <div class="modal-dialog enroll_modal_dilog">
    <div class="modal-content">
      <div class="Modal-contentWrapper">
        <button type="button" class="close position_top_corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <div class="Modal-header ">
          <div class="Modal-title">Apply to Enroll</div>
        </div>
        <div class="Modal-body " id="enroll_modal_append">
          
        </div>
      </div>
     </div>
  </div>
</div>
