<form novalidate="">
  <div class="ScheduleTour-selectedDay">
    <div class="ScheduleTour-selectedDayLabel">Wednesday March 14th</div>
    <div class="ScheduleTour-selectedDayLink">Change</div>
  </div>
  <div class="SelectInput">
    <select class="SelectInput-control" name="tour-time">
      <option value="">Select</option>
      <option value="1521036000000">7:00am </option>
      <option value="1521039600000">8:00am </option>
      <option value="1521043200000">9:00am </option>
      <option value="1521046800000">10:00am </option>
      <option value="1521050400000">11:00am </option>
      <option value="1521054000000">12:00pm </option>
      <option value="1521057600000">1:00pm </option>
      <option value="1521061200000">2:00pm </option>
      <option value="1521064800000">3:00pm </option>
      <option value="1521068400000">4:00pm </option>
      <option value="1521072000000">5:00pm </option>
      <option value="1521075600000">6:00pm </option>
      <option value="1521079200000">7:00pm </option>
      <option value="1521082800000">8:00pm </option>
      <option value="1521086400000">9:00pm </option>
    </select>
  </div>
  <div class="FormActions "><button class="Button   Button--full  Button--large Button--arrow  " type="submit">Continue</button></div>
</form>