<div id="apply_enroll_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="Modal-contentWrapper">
        <button type="button" class="close position_top_corner" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <div class="Modal-header ">
          <div class="Modal-title">Apply to Enroll</div>
        </div>
        <div class="Modal-body ">
          <p>Have you visited Queen Anne Wonderschool?</p>
          <p>We require that prospective families take a tour or attend an open house before they apply.</p>
          <br>
           <button type="button" class="button button-gray" data-dismiss="modal">No, I haven't visited yet.</button>
          <%= link_to '#', class: "Link Link--blend" do %>
          <!-- <a class="Link Link--blend" href="/parent/10656/enrollment-applications/new/94"> -->
            <div class="button">Yes, I’ve visited.</div>
          <% end %>
        </div>
      </div>
     </div>

  </div>
</div>