<div class="form-content custom-form-content">
  <%= form_for(@parent, url: payment_parent_path(@parent), method: :post, html: { class: 'make_payment', id: "payment-form" }) do |f| %>
    <span class="payment-errors"></span>
    <h3 class="text_card"> Make Payment </h3>
    <%= hidden_field_tag "enroll_id", params[:enroll_id] %>
    <%= hidden_field_tag "stripeToken", nil, id: "stripe_token" %>
    <div class="content_center">
      <div class="form-group">
        <div id="card-element"></div>
        <div id="card-errors" role="alert"></div>
      </div>
      <div class='actions text-center'>
        <button name="button" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    
  <% end %>
</div>

<script type="text/javascript">
  // Create a Stripe client
  var stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>");

  // Create an instance of Elements
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      lineHeight: '18px',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
      $("#submit_button").attr('disabled', true);
    } else {
      displayError.textContent = '';
      $("#submit_button").attr('disabled', false);
      $("#submit_button").text('Submit');
    }
  });

  // Handle form submission
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        $("#stripe_token").val(result.token.id)
        form.submit();
      }
    });
  });
</script>