body {
  color: #333;
  background: #f7f7f7;
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .01rem;
  line-height: 1.5;
}

/*custom-navbar */

.fixed-header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1023;
}

.custom-navbar {
  margin: 0 auto;
  border: none;
  min-height: 72px;
  position: relative;
  background: #fff;
  border-radius: 0px;
  border-bottom: 1px solid #e3e3e3;
}

.school-logo {
  height: 70px;
  margin-left: 28px;
  margin-right: 14.5px;
  margin-top: 2px;
}

.custom-right-navbar {
  position: relative;
  top: 12px;
  right: 31px;
  font-size: 14px;
  font-weight: 400;
  li a {
    cursor: pointer;
    text-decoration: none;
    padding-right: 1px;
    color: #333;
    &.nav-link {
      color: #5196cb;
      cursor: pointer;
      text-decoration: none;
      padding-right: 1px;
    }
  }
}

ul.nav.navbar-nav.navbar-right.custom-right-navbar li:last-child {
  font-weight: bold;
}

h3.mission-section {
  font-size: 36px;
  text-align: center;
}

.about-mission-section-2 {
  font-size: 36px;
  text-align: center;
  margin-top: -40px;
}

/*.our-mission-para {
    font-size: 25px;
}
.about-mission-content {
    font-size: 20px;
}*/

ul.about-section-list {
  font-weight: bold;
}

.page_header_desktop_search_control {
  width: 500px;
  position: relative;
  top: 16px;
}

h3.new_partner_page_section_head {
  font-size: 36px;
}

ol.new_partner_page_how_grid_list {
  /*font-size: 20px;*/
}

.new-patner-para {
  /*font-size: 25px;*/
  margin-left: 20px;
}

.new_partner_page_section_narrow {
  /* font-size: 20px;*/
}

h5.about-section-underline {
  text-decoration: underline;
  font-weight: bold;
}

p.about-section-bold-para {
  font-weight: bold;
}

.page_header_desktop_search_input {
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: none;
  height: 40px;
  margin: 0;
  outline: none;
  padding: 8px 16px;
  border-right: none !important;
  padding-right: 0;
  width: 100%;
}

.custom_page_header_desktop_search_submit_button {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 0;
  box-sizing: border-box;
  height: 40px;
  margin: 0;
  outline: none;
  padding: 8px 16px;
  border-left: none !important;
  padding: 8px 10px 9px;
  &:active, &:focus, &:hover {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    box-sizing: border-box;
    height: 40px;
    margin: 0;
    outline: none;
    padding: 8px 16px;
    border-left: none !important;
    padding: 8px 10px 9px;
  }
}

.submit-search-icon {
  color: #5196cb;
  font-size: 18px;
  top: 2px;
}

/*.right-pageheader-link {
  float: right;
  position: relative;
  bottom: 14px;
  right: 18px;
}*/

.PageHeaderDesktop-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  + .PageHeaderDesktop-link {
    margin-left: 16px;
  }
}

.bg-no-overlay {
  background-image: url(cover.jpg);
  background-size: cover;
  /*  background-position: 50%;*/
  position: relative;
  padding: 16px 24px;
  height: 450px;
  top: 72px;
}

.paret_para {
  font-size: 18px;
}

@media (min-width: 768px) {
  .bg-no-overlay {
    padding: 80px 24px 48px;
  }
}

.bg-no-overlay:before {
  background: rgba(23, 56, 70, 0.66);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  max-width: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.u-textCenter {
  text-align: center;
}

/*background content*/

.wrapper_hero {
  text-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.section_hero {
  color: #fff;
  position: relative;
  z-index: 2;
}

.body_hero {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title_hero {
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: .1rem;
}

.nowrap, .truncate {
  white-space: nowrap;
}

.section-news {
  text-align: left;
}

.custom_grid {
  display: flex;
  flex-wrap: wrap;
  margin: -24px 0 0 -24px;
}

.Grid-cell {
  flex: 1;
  padding: 24px 0 0 24px;
}

.article-news {
  &:link, &:visited {
    color: #fff;
  }
}

.logo-section-news {
  background-image: url(https://www.wonderschool.com/images/home/news/forbes-logo.png);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 8px 0 24px;
  padding-bottom: 8%;
  width: 75%;
}

.quote-section-news {
  margin-right: 16px;
}

/*school searchbar*/

.search_bar_school {
  background-color: #333333;
  margin: 0;
  padding: 24px;
  padding-top: 95px;
}

.search-input-group {
  margin: 0 auto;
  max-width: 800px;
}

.search-school-input {
  height: 48px;
  border: none;
}

.search-school-btn {
  height: 48px;
  width: 50px;
  background: #5196cb;
  color: #fff;
  border: none;
  font-size: 15px;
}

/*image grid view*/

.search_homepage_result {
  background: #fff;
  padding: 48px 32px;
}

.custom_callout_school {
  background: #fff;
  position: relative;
  width: 100%;
}

.custom_callout_school_aspect_ratio_image {
  background: linear-gradient(#28325a, #000);
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.custom_callout_school_aspect_ratio_image_img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  opacity: .6;
  position: absolute;
  top: 0;
  transform: scale(1.04);
  transition: transform .5s ease,opacity .5s ease,-webkit-transform .5s ease;
  width: 100%;
}

.custom_callout_school:hover .custom_callout_school_aspect_ratio_image_img {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom_callout_school_bookmark {
  position: absolute;
  right: 16px;
  top: 16px;
}

.button.button_naked {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: transparent;
  &:active, &:focus, &:hover {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background-color: transparent;
  }
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
}

button.button.button_naked.custom-btn {
  background-color: transparent;
}

.custom_callout_school_bookmark_icon {
  width: 30px;
}

.SVGResponsive--layoutWidthConstrained {
  height: auto;
  position: relative;
  width: 100%;
  .SVGResponsive-svg {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.custom_callout_school_info {
  padding: 8px 0;
}

.custom_callout_school_name {
  color: #333;
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  font-size: 15px;
  letter-spacing: normal;
  margin: 0;
}

.custom_callout_school_attrs {
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
}

.custom_callout_school_attr {
  align-items: center;
  color: #9a9a9a;
  display: flex;
  flex-wrap: none;
}

.custom_callout_school_attr_icon {
  height: 20px;
}

.SVGResponsive--layoutHeightConstrained {
  height: 100%;
  width: auto;
  .SVGResponsive-svg {
    display: inline-block;
    height: 100%;
    width: auto;
  }
}

.custom_callout_school_attr_text {
  font-size: 13px;
  padding-left: 8px;
}

.custom_callout_school_attr + .custom_callout_school_attr {
  margin-top: 8px;
}

/*Lead capture*/

.new_homepage_leadcapture {
  background-image: url(lead-hero.png);
  background-position: 50% 0;
  min-height: 530px;
  padding: 48px 16px;
}

.new_homepage_leadcapture_body {
  margin: 0 auto;
  max-width: 500px;
}

.new_school_search_subscription_capture_heading, .new_school_search_subscription_capture_subheading {
  color: #333;
  font-family: Lato,Helvetica,Arial,sans-serif;
  line-height: 1.1;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.new_school_search_subscription_capture_heading {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}

.new_school_search_subscription_capture_subheading {
  font-size: 18px;
  font-weight: 700;
  font-weight: 400;
  margin-bottom: 48px;
}

.new_school_search_subscription_capture_form {
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.new_form_control_label, .new_form_control_sublabel {
  color: #333;
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: inherit;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
}

.new_form_control_label {
  text-transform: uppercase;
}

.new_form_control_sublabel {
  text-transform: none;
}

.new_text_input {
  display: block;
  .new_text_input_control {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: none;
    color: #333;
    height: 48px;
    margin: 0;
    outline: none;
    padding: 8px 16px;
    width: 100%;
  }
}

.new_form_group + .new_form_group {
  margin-top: 32px;
}

label + {
  .button, button, input[type=submit], label {
    margin-top: .5rem;
  }
}

.new_school_search_subscription_capture_form_submit_button {
  margin-top: 24px;
}

.button {
  &.button_full {
    width: 100%;
  }
  &.button {
    color: #333;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #5196cb;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    height: auto;
    line-height: 1;
    margin: 0;
    padding: 10.5px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: inherit;
    transition: all .1s ease;
    vertical-align: top;
    white-space: nowrap;
    &:visited {
      color: #333;
      font-family: Lato,Helvetica,Arial,sans-serif;
      font-weight: 400;
      line-height: 1.5;
      background-color: #5196cb;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 15px;
      font-weight: 700;
      height: auto;
      line-height: 1;
      margin: 0;
      padding: 10.5px 16px;
      text-align: center;
      text-decoration: none;
      text-transform: inherit;
      transition: all .1s ease;
      vertical-align: top;
      white-space: nowrap;
    }
  }
}

/*parent and techer experience*/

.new_quotes {
  padding: 48px 0;
}

.new_quotes_quote {
  padding: 8px 24px 24px;
}

.new_quotes_title {
  color: #333;
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 24px;
}

.new_media {
  display: flex;
  > :first-child {
    margin-right: 3rem;
  }
}

.thumb-pink {
  box-shadow: 0 0 0 0.15rem #f0018c;
}

.thumb-med {
  height: 4.8rem;
  width: 4.8rem;
}

.thumb {
  align-items: center;
  background-color: #ddd;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  color: #999;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.new_media_body {
  flex: 1;
  width: 0px;
}

.new_quotes_quote_Copy {
  margin-bottom: 8px;
}

.new_quotes_quote_author {
  color: #9a9a9a;
}

.thumb-yellow {
  box-shadow: 0 0 0 0.15rem #ffbd33;
}

/*page footer*/

.section_page_footer {
  border-top: 6px solid #f1f1f1;
  padding: 16px 32px;
}

.custom_content_width_constraint {
  margin: 0 auto;
  max-width: 1400px;
}

.section_page_footer_link_list_title {
  color: #9a9a9a;
}

.new-link {
  color: #5196cb;
  cursor: pointer;
  text-decoration: none;
  color: #23527c;
  text-decoration: none;
}

a {
  &:focus, &:hover {
    color: #23527c;
    text-decoration: none;
  }
}

.new-link:hover {
  color: #5196cb;
  cursor: pointer;
  text-decoration: none;
}

.link_blend {
  color: inherit;
  text-decoration: none;
  &:active, &:focus, &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.button {
  &.button_out_line_blue {
    background-color: transparent;
    border: 2px solid #5196cb;
    color: #5196cb;
  }
  &.button_arrow {
    padding-right: 32px;
    position: relative;
    &:after {
      content: "\203A";
      font-size: 30px;
      font-weight: 400;
      height: 36px;
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      transition: right .3s ease;
      width: 8px;
    }
  }
  &.button_out_line_blue:hover {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .school-logo {
    height: 70px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 2px;
  }
  .section-news {
    display: none;
  }
  .page_header_desktop_search_control {
    width: 100%;
  }
  .custom-right-navbar {
    display: block;
    margin: 0 auto;
    text-align: center;
    left: 0;
    top: 20px;
    margin-bottom: 25px;
  }
  .bg-no-overlay {
    height: auto;
  }
  .about-home-image {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .Grid--full > {
    .Grid-cell, .GridCell--flex2 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }
}

@media (min-width: 768px) {
  .new_quotes_quote {
    padding: 24px 24px 32px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .school-logo {
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
  }
  .custom-right-navbar {
    li a.nav-link {
      display: none;
    }
    right: 22px;
  }
}

/*about_us_page*/

.about-page {
  padding-top: 72px;
  padding-left: 10px;
  padding-right: 10px;
}

.section_about_header {
  display: flex;
  flex-direction: column;
  padding: 0 0 60px;
}

.section_about_header_copy {
  font-size: 24px;
  padding: 0 24px;
  text-align: center;
  width: 100%;
}

.section_about_header_button_area {
  margin-top: 40px;
  text-align: center;
}

.section_about_header_button_wrapper {
  margin: 0 auto;
  max-width: 300px;
}

.link, a {
  color: #5196cb;
  cursor: pointer;
  text-decoration: none;
}

.button {
  &.button_arrow {
    padding-right: 25px !important;
    position: relative;
    letter-spacing: .1rem;
    &:after {
      content: "\203A";
      font-size: 30px;
      font-weight: 400;
      height: 36px;
      position: absolute;
      right: 14px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: right .3s ease;
      width: 8px;
    }
  }
  &:focus, &:hover {
    background-color: #2a618c;
    border-color: #2a618c;
    color: #fff;
    outline: 0;
  }
}

button {
  &:focus, &:hover {
    background-color: #2a618c;
    border-color: #2a618c;
    color: #fff;
    outline: 0;
  }
}

input {
  &[type=button] {
    &:focus, &:hover {
      background-color: #2a618c;
      border-color: #2a618c;
      color: #fff;
      outline: 0;
    }
  }
  &[type=reset] {
    &:focus, &:hover {
      background-color: #2a618c;
      border-color: #2a618c;
      color: #fff;
      outline: 0;
    }
  }
  &[type=submit] {
    &:focus, &:hover {
      background-color: #2a618c;
      border-color: #2a618c;
      color: #fff;
      outline: 0;
    }
  }
}

.button.button_arrow:hover:after {
  right: 10px;
}

.section_about_mission {
  background-color: #01a5f0;
  color: #fff;
  padding: 0 24px;
}

.section_about_mission_wrapper {
  padding: 24px 0 48px;
}

.section_about_mission_copy {
  font-size: 18px;
  margin: 0 auto;
}

.p, blockquote, dl, figure, ol, p, pre, table, ul {
  margin-bottom: 2.5rem;
  margin-top: 0px;
}

.section_about_mission_bullets {
  padding-left: 16px;
}

.section_about_mission_bullet {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  display: flex;
  font-size: 15px;
}

.right-mark {
  height: 40px;
  position: relative;
  right: 18px;
  top: 3px;
}

/*.section_about_mission_bullet:before {
  background-image: url(img/mark.png);
  background-position: 50%;
  background-repeat: no-repeat;
  content: "";
  flex-shrink: 0;
  height: 48px;
  margin-right: 16px;
  width: 48px;
}*/

.section_about_mission_bullet_title {
  font-size: 22px;
  margin-bottom: 16px;
}

.section_about_story {
  padding: 48px 24px;
}

.section_about_story_title {
  font-size: 36px;
  margin-bottom: 24px;
  text-align: center;
  margin-top: -30px;
}

.section_about_story_wrapper {}

.section_about_story {
  background-color: white;
}

.section_about_story_text {
  margin-right: 16px;
}

.section_about_story_picture {
  height: auto;
  width: 100%;
}

.section_about_story_logo_wrapper {
  height: auto;
  padding: 25% 0 20%;
  width: 100%;
}

.section_about_story_logo {
  margin: 0 auto;
  width: 70%;
}

.SVGResponsive--layoutWidthConstrained {
  height: auto;
  position: relative;
  width: 100%;
  .SVGResponsive-svg {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.section_about_videos_wrapper {
  background-color: #333;
  padding: 0 32px;
}

.section_about_videos {
  margin: 0 auto;
  padding: 24px 0;
}

.section_about_video_wrapper {
  padding-bottom: 56%;
  position: relative;
}

.section_about_video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.about_logo {
  width: 100%;
}

@media (min-width: 768px) {
  .section_about_header {
    padding: 100px 0 80px;
  }
  .section_about_header_img {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
  }
  .section_about_header_copy {
    font-size: 36px;
    padding: 0 140px;
    margin-top: -40px;
  }
  .section_about_mission_wrapper {
    padding: 90px 0;
  }
  .section_about_mission_bullet_title {
    font-size: 18px;
  }
  .section_about_story {
    padding: 90px 24px;
  }
  .section_about_story_logo_wrapper {
    padding: 25% 0 10%;
  }
  .section_about_videos {
    padding: 32px 0;
  }
}

/*privacy-policy and terms-of-use*/

.section_page_content {
  margin: 0px auto;
  padding: 0 32px;
  padding-top: 72px;
}

h6 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

h5, h6 {
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: .1rem;
  line-height: 1.3;
}

/*Partner page css*/

.new_image_hero {
  background: linear-gradient(#28335b, #000);
  position: relative;
  padding-top: 72px;
}

.new_image_hero_image {
  background-image: url(partner-section.jpg);
  background-position: 50% 50%;
  background-size: cover;
  bottom: 0;
  content: " ";
  height: 100%;
  left: 0;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.new_image_hero_content {
  position: relative;
}

.new_partner_page_hero {
  padding: 40px 16px;
}

.new_partner_page_hero_messaging_head, .new_partne_Page_hero_messaging_subhead {
  color: #fff;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 16px;
  font-weight: 300;
}

.new_partner_page_hero_messaging_head {
  font-weight: 300;
}

.new_partner_page_hero_messaging_subhead {
  font-weight: 400;
}

.new_partner_page_hero_cta {
  margin-top: 24px;
}

.new_partner_page_hero_cta_form {
  background: #eee;
  padding: 32px 16px;
}

.new_partner_page_hero_cta_head {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
}

.new_prospect_capture_form_form_control + .new_prospect_capture_form_form_control {
  margin-top: 8px;
}

.button.button__large {
  padding: 16px 24px;
  text-transform: uppercase;
}

.P + .P {
  margin-top: 16px;
}

.new_colored_text__gray {
  color: #9a9a9a;
}

.small_text {
  font-size: 13px;
}

.new_partner_page_section__white {
  background: #fff;
}

.new_partner_page_section_head {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;
}

.new_partner_page_why_grid_image {
  margin-bottom: 24px;
  text-align: center;
}

.new_partner_page_section_subhead {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.new_partner_page_section_narrow {
  margin: 0 auto;
  max-width: 600px;
}

.new_partner_page_how_grid_image {
  margin-bottom: 16px;
  text-align: center;
}

.new_partner_page_section_subhead {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.new_partner_page_how_grid_list {
  padding-left: 30px;
  li + li {
    margin-top: 8px;
  }
}

.new_partner_page_how_grid + .new_partner_page_how_grid {
  margin-top: 55px;
}

.new_partner_page_what_grid_image {
  margin: 0 auto 24px;
}

.new_aligned_text__center {
  text-align: center;
}

.new_partner_page_video {
  margin-bottom: 40px;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.new_partner_page_video_iframe {
  height: 100%;
  position: absolute;
  width: 100%;
}

.grid__skinnygutters {
  margin: -8px 0 0 -8px;
}

.grid__align_items_center {
  align-items: center;
}

.grid_cell__flexnone {
  flex: none;
}

.new_partner_page_video_headshot {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.new_partner_page_video_button {
  background: #5196cb;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 6px 12px;
  text-transform: uppercase;
}

.new_partner_page_video_button_play {
  background: #fff;
  border-radius: 100%;
  display: inline-block;
  margin-left: 10px;
  padding: 3px 2px 3px 3px;
  &:before {
    border-bottom: 2px solid transparent;
    border-left: 5px solid #5196cb;
    border-top: 2px solid transparent;
    content: "";
    display: block;
    height: 0;
    margin-left: 1px;
    width: 0;
  }
}

.new_partner_page_section__blue {
  background: #5196cb;
  color: #fff;
}

.new_partner_page_bottom_cta_form {
  margin: 32px auto 0;
  max-width: 300px;
}

.new_text_input__white .new_text_input_control {
  /*background-color: hsla(0,0%,100%,.15);*/
  border-color: hsla(0, 0%, 100%, 0.3);
  /*color: #fff;*/
  &:active, &:focus, &:hover {
    border-color: hsla(0, 0%, 100%, 0.8);
  }
}

.new_text_input {
  .new_text_input_control:active, .Tnew_text_input_control:focus, .new_text_input_control:hover {
    border-color: #5196cb;
  }
}

.button.button__white {
  background-color: #fff;
  color: #5196cb;
}

.tosagree_light {
  opacity: .7;
}

.colored_text_white {
  color: #fff;
}

.underlined_text {
  text-decoration: underline;
}

.new_partner_page_hero_messaging_head, .new_partner_page_hero_messaging_subhead {
  color: #fff;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .new_partner_page_why_grid_cell {
    display: flex;
  }
  .new_partner_page_why_grid_image {
    flex: none;
    width: 90px;
  }
  .new_partner_page_why_grid_cell + .new_partner_page_why_grid_cell {
    margin-top: 32px;
  }
  .new_partner_page_section {
    padding: 40px 16px;
  }
  .new_partner_page_section_subhead {
    text-align: center;
  }
  .grid__full > {
    .Grid-cell, .GridCell--flex2 {
      flex: 0 0 100%;
    }
  }
}

@media (min-width: 768px) {
  .new_partner_page_hero {
    align-items: center;
    display: flex;
    padding: 100px 60px;
  }
  .new_partner_page_hero_messaging {
    flex: 3;
  }
  .new_partner_page_hero_messaging_head, .new_partner_page_hero_messaging_subhead {
    font-size: 36px;
    line-height: 52px;
  }
  .new_partner_page_hero_cta {
    flex: 2;
    margin-top: 0;
    padding-left: 16px;
  }
  .new_partner_page_hero_cta_form {
    padding: 40px;
  }
  .new_partner_page_section {
    padding: 90px 30px;
  }
  .new_partner_page_section_head {
    font-size: 36px;
    margin-bottom: 60px;
    margin-top: 0px;
  }
  .new_partner_page_why_grid {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
  }
  .new_partner_page_why_grid_cell {
    flex-shrink: 1;
    max-width: 270px;
    padding: 0 10px;
  }
  .new_partner_page_how_grid {
    align-items: center;
    display: flex;
  }
  .new_partner_page_how_grid_image {
    flex: none;
    margin: 0;
    width: 175px;
  }
  .new_partner_page_how_grid_content {
    flex: 1;
    padding-left: 45px;
  }
  .new_partner_page_how_grid {
    align-items: center;
    display: flex;
  }
  .new_partner_page_what_grid_image {
    max-width: 90%;
  }
}

/*search page*/

.custom-search-section {
  padding-top: 72px;
}

.row {
  margin: 0px;
}

.col-md-8.custom-md {
  padding: 0px;
  overflow-y: scroll;
  height: 530px;
}

.col-md-4.custom-md {
  padding: 0px;
  overflow-y: scroll;
  height: auto;
}

.login-signup-form, .alert.alert-info, .custom-admin-wrapper {
  padding-top: 72px;
}

.teacher-show-profile {
  padding-top: 72px;
  padding-right: 10px;
  padding-left: 10px;
}

/*Listing Details Page*/

.new-school-page-wrapper {
  background: #fff;
  padding-top: 72px;
}

.new-image-hero {
  background: linear-gradient(#28335b, #000);
  position: relative;
}

.new-image-hero-image {
  background-position: 50% 50%;
  background-size: cover;
  bottom: 0;
  content: " ";
  height: 100%;
  left: 0;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.new-image-hero-content {
  position: relative;
}

.new-hero-module-hero-3-uYE {
  padding: 32px 0 48px;
  position: relative;
  text-align: center;
}

.new-hero-module-constraint-3CioB {
  padding: 0 16px;
}

.new-Hero-module-title-2P-GS {
  color: #333;
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
}

.new-hero-module-subtitle-3tmqs, .new-Hero-module-title-2P-GS {
  color: #fff;
  margin-bottom: 0;
}

.new-hero-module-subtitle-3tmqs {
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 22px;
  font-weight: 300;
}

.new-hero-module_inquiry-button-2NVd5 {
  margin: 16px auto;
}

.new-school-page-mobile-header {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
}

.new-school-page-bookmark-icon, .new-school-page-gallery-icon {
  width: 30px;
}

.school-page-mobile-header-director {
  margin-top: -38px;
}

.school-page-director {
  text-align: center;
}

.school-page-director-avatar {
  background: 50% 50% #9a9a9a;
  background-size: cover;
  border: 5px solid #fff;
  border-radius: 38px;
  height: 75px;
  margin: 0 auto;
  width: 75px;
}

.school-page-director-name {
  color: #333;
  font-family: "Lato,Helvetica,Arial,sans-serif";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 4px;
}

.school-page-director-title {
  color: #9a9a9a;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .3px;
  text-transform: uppercase;
}

.school-page-tabbar {
  border-top: 1px solid #eee;
  margin-top: 20px;
}

.Tabbar, .Tabbar-link {
  display: -ms-flexbox;
  display: flex;
}

.Tabbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 50px;
}

.Tabbar-link {
  color: #9a9a9a;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-pack: center;
  justify-content: center;
}

.Tabbar-link-text-selected {
  box-shadow: inset 0 -3px 0 #5196cb;
  color: #5196cb;
}

.Tabbar-link-text {
  box-shadow: inset 0 0 0 #5196cb;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow .5s ease,color .5s ease;
}

.school-page-container {
  background: #fff;
  font-weight: 300;
  padding: 48px 16px;
}

.school-page-rail {
  position: relative;
}

.school-page-rail-director {
  position: absolute;
  top: -100px;
  width: 100%;
}

.school-page-director {
  text-align: center;
}

.rail-section {
  padding: 16px 0 24px;
}

.rail-section-title {
  color: #9a9a9a;
  margin-bottom: 16px;
}

.school-page-list {
  font-weight: 300;
  list-style-type: none;
  padding-left: 0;
}

.school-page-list-item {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.school-page-list-item-bullet {
  flex: none;
  margin-right: 16px;
  margin-top: -1px;
  opacity: .5;
  width: 22px;
}

.school-page-list-item-value {
  flex: 1;
}

.school-page-table {
  width: 100%;
}

.school-page-table-row-left {
  .school-page-table-key {
    font-weight: 700;
    white-space: nowrap;
    vertical-align: top;
  }
  .school-page-table-value {
    vertical-align: top;
  }
}

.school-page-table-key, .school-page-table-value {
  font-weight: 300;
  padding: 8px;
}

.school-page-table-header, .school-page-table-key, .school-page-table-value {
  padding: 8px;
}

.school-page-table-row-left .school-page-table-value {
  font-weight: 300;
  text-align: left;
}

.school-page-table-value {
  font-weight: 700;
  text-align: right;
}

.rail-section-synopsis {
  font-size: 14px;
  font-weight: 300;
}

.school-page-section {
  border-bottom: 1px solid #eee;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.school-page-save-and-compare {
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
}

.school-page-save-and-compare-text {
  margin-left: 16px;
}

.h6 {
  color: #9a9a9a;
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

.button.button--link {
  background-color: inherit;
  color: #5196cb;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: 0;
  line-height: inherit;
  padding: 0;
}

.school-page-rail-Map {
  height: 120px;
}

.map-embed {
  height: 100%;
  width: 100%;
}

.school-page-sticky {
  top: 10px;
}

@media (max-width: 767px) {
  .school-page-hide-mobile, .mobile-hidden, .school-page-save-and-compare {
    display: none;
  }
}

@media (min-width: 768px) {
  .new-hero-module-hero-3-uYE {
    padding: 144px 0 192px;
  }
  .new-hero-module-constraint-3CioB {
    margin: 0 auto;
    max-width: 1400px;
  }
  .new-Hero-module-title-2P-GS {
    color: #333;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
  }
  .new-hero-module_inquiry-button-2NVd5 {
    margin-bottom: 0;
  }
  .new-school-page-mobile-header {
    display: none;
  }
  .school-page-director-avatar {
    border-radius: 50px;
    height: 100px;
    width: 100px;
  }
  .school-page-tabbar {
    display: none;
  }
  .school-page-container {
    display: -ms-flexbox;
    display: flex;
  }
  .school-page-rail {
    flex: 1;
    padding-top: 65px;
  }
  .rail-section {
    border-top: 1px solid #eee;
    padding: 16px 0 48px;
  }
  .school-page-content {
    flex: 2;
    padding: 0 16px;
  }
  .school-page-sticky {
    max-height: 100vh;
    overflow-y: auto;
  }
}

.day_time_over_2 {
  white-space: pre;
}

.SchoolPage-table {
  width: 100%;
}

.SchoolPage-tableHeader {
  border-bottom: 1px solid #eee;
  padding-left: 0;
  padding: 8px;
  font-weight: 700;
}

.SchoolPage-tableRow:nth-child(2n) {
  background: #fbfbfb;
}

.SchoolPage-tableKey {
  font-weight: 300;
  padding: 8px;
}

.SchoolPage-tableValue {
  font-weight: 300;
  padding: 8px;
  font-weight: 700;
  text-align: right;
}

.Modal-title {
  color: #333;
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1;
}

.Modal-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 24px;
  padding: 0 32px 16px 0;
}

.Modal-closeButton {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 1001;
}