// Place all the styles related to the parent_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show_after_next {
	display: none;
}
.guardian_details {
	p.heading {
		color: #999;
		margin-bottom: 0px;
	}
}
.fonts_profile {
  font-family: Merriweather,serif;
  font-weight: 100;
}
label.heading_label {
  font-weight: 400;
  font-size: 13px;
}
.heading_label_check {
	font-weight: 400;
  font-size: 15px;
  margin-left: 5px;
  margin-bottom: 9px;
}
