// Place all the styles related to the TeacherProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-content .form-group select.dob.custom-dob {
  width: 32%;
  margin-right: 0.88%;
}

div.form-content.custom-form-content form.form-horizontal div.wizard div.content {
  background: #fff;
  display: block;
  margin: 0.5em;
  min-height: 60em;
  overflow-y: scroll;
  position: relative;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
  font-size: 12px;
  font-weight: bold;
}
.wizard > .steps .number{
  font-size: 1.3em;
}