// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no_padding_default {
	padding: 0px;
}
.top_space_new {
	margin-top: 25px;
}
.bottom_space_new {
	margin-bottom: 25px;
}