<% flash.each do |key, value| %>
	<div class="automatic_fadeout">
	  <div class="<%= flash_class(key) %>">
	    <%= value %>
	  </div>
  </div>
<% end %>
<script type="text/javascript">
  // setTimeout(function() {
  //   $('.automatic_fadeout').fadeOut();
  // }, 4000);
</script>