<footer class="section_page_footer">
   <div class="custom_content_width_constraint">
      <div class="custom_grid Grid--full ">
         <div class="Grid-cell">
            <div>
               <div class="section_page_footer_link_list_title">Child Care Near You</div>
               <a class="new-link link_blend" href="#">Berkeley, CA</a>
               <br>
               <a class="new-link link_blend" href="#">Los Angeles, CA</a>
               <br>
               <a class="new-link link_blend" href="#">New York, NY</a>
               <br>
               <a class="new-link link_blend" href="#">Oakland, CA</a>
               <br>
               <a class="new-link link_blend" href="#">San Francisco, CA</a>
               <br>
               <a class="new-link link_blend" href="#">San Jose, CA</a>
               <br>
               <a class="new-link link_blend" href="#">San Mateo, CA</a>
            </div>
         </div>
         <div class="Grid-cell">
            <div>
               <div class="section_page_footer_link_list_title">Follow Us</div>
               <a class="new-link link_blend" href="#" target="_blank">Blog</a>
               <br>
               <a class="new-link link_blend" href="#" target="_blank">Facebook</a>
               <br>
               <a class="new-link link_blend" href="#" target="_blank">Instagram</a><br><a class="new-link link_blend" href="#" target="_blank">Twitter</a>
            </div>
         </div>
         <div class="Grid-cell">
            <div>
               <div class="section_page_footer_link_list_title">Dreamschools</div>
               <%=link_to 'About Us', about_path, class: 'new-link link_blend'%>
               <br>
               <%=link_to 'Terms of Use', terms_of_use_path, class: 'new-link link_blend'%>
               <br>
               <%=link_to 'Privacy Policy', privacy_policy_path, class: 'new-link link_blend'%>
            </div>
         </div>
         <div class="Grid-cell"><a class="new-link " href="<%=partner_path%>"><button class="button button_arrow  button_outline_blue" type="button">Partner with Dreamschools</button></a></div>
      </div>
   </div>
</footer>
